.form-field-class {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form-container {
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 700px;
    border: 1px solid var(--mat-button-filled-container-color, var(--mat-sys-primary));
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.form-header {
    font-size: 30px;
    color: var(--mat-button-filled-container-color, var(--mat-sys-primary));
    text-align: center;
}

.form-row {
    width: 100%;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.form-header {
    text-align: center;
    font-size: 20px;
    color: var(--mat-button-filled-container-color, var(--mat-sys-primary));

}

@media(max-width: 768px) {
    .form-container{
        padding: 18px;
    }

    .form-container{
        padding: 14px;
    }
}