.home-container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url('../../../assets/bg.jpg');
  background-size: cover;
}

.logout-btn-class{
  top: 20px;
  right: 20px;
  position: absolute;
}